<% if current_user.inventories.any? %>
      <ol class="stocks">
      <div  class="tabele-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>発注日</th>
            <th>ASIN</th>
            <th>商品名</th>
            <th>発注数</th>
            <th>仕入れ価格</th>
            <th>送料</th>
            <th>仕入れ先</th>
            <th>前月推定販売個数</th>
            <th>配送業者</th>
            <th>追跡番号</th>
            <th>予定到着日</th>
          </tr>
        </thead>

        <% @stocks.each do |stock| %>
        <tbody>
          <tr>
            <td><%= stock.created_at %></td>
            <td><%= stock.asin %></td>
            <td><%#= Asin.find_by(asin: stock.asin).title%></td>
            <td><%= stock.volume %></td>
            <td><%= stock.price %></td>
            <td><%= stock.shipfee%></td>
            <td><%=  %></td>
            <td><%=  %></td>
            <td><%=  %></td>
            <td><%=  %></td>
            <td><%=  %></td>
            </tr>
        </tbody>
        <% end %>
      </table>
  　　</div>
      </ol>
    <% end %>